# Gradle
.gradle/
build/
gradlew.local

# Android Studio / IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Local Properties
local.properties

# JVM crash logs
hs_err_pid*.log
replay_pid*.log

# DS Store
.DS_Store

# Kotlin
.kotlin/

# Gradle wrapper properties (optional)
# gradle/wrapper/gradle-wrapper.properties
